@import "../Constants/constants.scss";

.blog-page-main-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80vh;
  @media (max-width: 900px) {
    flex-direction: column;
    height: max-content;
    justify-content: space-evenly;
    gap: 25px;
  }
}

.modal-body-wrapper {
  .modal-header {
    font-size: 1vw;
    color: rgb(253, 67, 0);
  }
  .modal-content {
    font-size: 1vw;
    color: rgb(111, 111, 111);
  }
  .modal-footer {
    button {
      @include primary-button;
      padding: 1%;
    }
  }
}

.blog-page-left-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: 40%;

  .media-style {
    height: 75vh;
    width: 95%;
    object-fit: contain;
  }

  @media (max-width: 900px) {
    width: 100%;
    background-image: radial-gradient(
      rgba(253, 206, 156, 0.36) 1.5px,
      transparent 1.5px
    );
    background-size: 10px 10px;
    background-color: #ffffff;
    .media-style {
      height: 90%;
      width: 60%;
    }
  }
}

.blog-page-right-wrapper {
  width: 55%;
  @media (max-width: 900px) {
    width: 100%;
  }
  .details-container-wrapper {
    /* background-color: #e32626; */
    width: 100%;
    display: flex;
    flex-direction: column;

    .blog-title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      @media (max-width: 750px) {
        font-size: 3vw;
      }
    }
    .date-and-author-wrapper {
      width: 100%;
      /* background-color: #ffd4d4; */
      display: flex;
      justify-content: space-between;
      .date-container {
        width: 30%;
        display: flex;
        justify-content: center;
        font-size: 15px;
        color: grey;
        @media (max-width: 750px) {
          font-size: 2vw;
        }
      }
      .author-container {
        width: 30%;
        display: flex;
        justify-content: center;
        font-size: 15px;
        color: grey;
        @media (max-width: 750px) {
          font-size: 2vw;
        }
      }
    }
  }

  .content-container {
    display: flex;
    justify-content: center;

    .blog-content {
      text-align: justify;
      width: 100%;
      height: 60vh;
      font-size: 1vw;
      padding: 2%;
      overflow-y: auto;
      margin-top: 1%;
      @media (max-width: 900px) {
        width: 100%;
        height: fit-content;
        max-height: 40vh;
        font-size: 1vw;
      }
      @media (max-width: 750px) {
        font-size: 1.5vw;
        height: fit-content;
        max-height: 60vh;
      }
      @media (max-width: 500px) {
        height: fit-content;
        max-height: 50vh;
        font-size: 2vw;
      }
    }
  }
}

.blog-page-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10%;
  margin-top: 5%;
  padding: 1%;

  box-shadow: rgba(50, 50, 93, 0.051) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.037) 0px 1px 3px -1px;
  // border-radius: 10px;

  button {
    @include secondary-button;
    width: 10%;
    padding: 0.75% 0;
    @media (max-width: 700px) {
      font-size: 2vw;
    }
  }
}
