@import "../Constants/constants.scss";

.edit-main-wrapper {
  width: 100%;

  .title {
    @include gradientText;
    font-size: 2vw;
    @media (max-width: 500px) {
      font-size: 4vw;
    }
  }

  .input-field-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1% 0;

    label {
      //   color: rgb(131, 131, 131);
      font-size: 1.25vw;
    }

    input {
      font-size: 1vw;
      color: rgb(65, 65, 65);
      width: 100%;
      height: 30px;
      padding: 1.5% 1%;
      border-radius: 10px;
      border: 2px solid rgb(177, 177, 177);
      &:hover {
        border: 2px solid rgb(255, 225, 170);
      }
    }
    @media (max-width: 500px) {
      margin: 2% 0;
      label {
        font-size: 2.5vw;
      }
      input {
        font-size: 2vw;
      }
    }
  }

  .textarea-field-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1% 0;

    label {
      //   color: rgb(131, 131, 131);
      font-size: 1.25vw;
    }

    textarea {
      font-size: 1vw;
      color: rgb(65, 65, 65);
      width: 100%;
      height: 200px;
      padding: 1.5% 1%;
      border-radius: 10px;
      border: 2px solid rgb(177, 177, 177);
      &:hover {
        border: 2px solid rgb(255, 225, 170);
      }

      @media (max-width: 600px) {
        font-size: 1.5vw;
      }
    }

    @media (max-width: 500px) {
      margin: 2% 0;
      label {
        font-size: 2.5vw;
      }
      textarea {
        font-size: 2vw;
      }
    }
  }

  .dropdown-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1% 0;

    label {
      font-size: 1.25vw;
    }

    select {
      font-size: 1vw;
      color: rgb(65, 65, 65);
      width: 100%;
      padding: 1%;
      border-radius: 10px;
      border: 2px solid rgb(177, 177, 177);
      &:hover {
        border: 2px solid rgb(255, 225, 170);
      }
    }
    @media (max-width: 500px) {
      margin: 2% 0;
      label {
        font-size: 2.5vw;
      }
      select,
      option {
        font-size: 2vw;
      }
    }
  }

  .edit-blog-mediacontainer {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    background-color: rgb(237, 237, 237);
    border-radius: 20px;
    padding: 1% 0;
    @media (max-width: 750px) {
      height: 250px;
    }
    @media (max-width: 500px) {
      height: 150px;
    }
  }

  .file-input-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1% 0;

    label {
      font-size: 1.25vw;
    }

    input {
      font-size: 1vw;
      color: rgb(65, 65, 65);
      padding: 1% 0;
      width: 100%;
      &::-webkit-file-upload-button {
        margin-right: 20px;
        border: none;
        background: #ffa36b;
        padding: 10px 20px;
        border-radius: 10px;
        color: #fff;
        cursor: pointer;
      }
    }
  }

  .edit-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 2% 0%;

    button {
      @include primary-button;
      padding: 0.75% 1%;
      font-size: 1.25vw;
    }
    @media (max-width: 500px) {
      //   margin: 5% 0;
      button {
        font-size: 2vw;
        padding: 1% 1.5%;
      }
    }
  }
}
