@import "../Constants/constants.scss";

.navigation-wrapper {
  width: 100%;
  margin: 1% 0 2% 0;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 0;
  border-radius: 5px;
box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  &:hover {
    transition: 2s;
    box-shadow: rgba(255, 219, 178, 0.348) 0px 7px 29px 0px;
  }
}
.nav-btn {
  @include primary-button;
  width: 100px;
  padding: 1%;
}

.logo {
  text-decoration: none;
  font-size: 1.5rem;
  color: transparent;
  font-weight: 700;
  background-image: linear-gradient(
    45deg,
    rgb(243, 123, 116),
    rgb(252, 191, 154),
    rgb(227, 82, 46)
  );
  -webkit-background-clip: text;
}

.links {
  text-decoration: none;
  color: rgb(248, 153, 58);
}
.links:hover {
  font-size: larger;
  transition: 0.5s;
  color: rgb(250, 203, 115);
}

.logo-wrapper {
  width: 15%;
  display: flex;
  justify-content: flex-end;
}

.feature-btn-wrapper {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.ham-menu-btn {
  display: none;
}

@media (max-width: 600px) {
  .feature-btn-wrapper {
    display: none;
  }

  .logo {
    font-size: 1rem;
  }
  .feature-btn-wrapper-expanded {
    position: absolute;
    top: 49px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 43vh;
    width: 45%;
    right: 5px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.575);
    font-size: 3vw;
    backdrop-filter: blur(20px);
    border-radius: 5px;

    a {
      color: rgb(38, 38, 38);
    }
  }

  .ham-menu-btn {
    display: block;
    margin-right: 1%;
    @include primary-button;
    padding: 10px;
  }
}

@media (max-width: 320px) {
  .logo {
    font-size: 0.6rem;
  }
  .ham-menu-btn {
    padding: 5px;
  }
}
